



body {
    background:url(bg.png);
}

h1 {
    text-align:center;
    font-family:'Nothing You Could Do', cursive;
    padding:10px;
    text-shadow:1px 1px #333;
    background-color:#000;
    color:#fff;

}
h2 {
    text-align:center;
    font-family:'Nothing You Could Do', cursive;
    padding:.5px;
    text-shadow:.5px .5px #333;
    background-color:#000;
    color:#fff;

}

video {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

