/*these are the tiles for the splash page these are just the the colors for row one. The colors for the rows below have not been decided yet. 
The colors for the ext tiles will be filled in when  more projects come in. I have not deided on the sizes of the swquares for the next or the 
colors to be used*/



/*#TESTER
{
background-color: #FF0000 ;
	height: 200px;
	width: 20%;




}*/

p {
	text-align:center;
	font-family:'Nothing You Could Do';
	padding:10px;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
.red
{background-color: #A8A8A8   ;
	

}
.red:hover { 
    background-color: #FF9999;
}


.purple
{background-color: #A8A8A8 ;
	

}
.purple:hover { 
    background-color: #9966CC;
}



.yellow
{background-color: #C0C0C0 ;
	

}
.yellow:hover { 
    background-color: #CCFF99;
}



.green
{background-color: #D0D0D0  ;



}
.green:hover { 
    background-color: #009966;
}




.blue
{background-color: #B0B0B0  ;
height:200px;
width:20%;

}
.blue:hover { 
    background-color: #3333FF;
}


div{
	height:200px;
	width:20%;
	transition: 2.5s;
	 float: left;

}